@import "../../../theme/index.scss";

.search {
  margin: 3em 0;

  @include bp($larger) {
    width: 100%;
  }

  form {
    @include bp($larger) {
      display: flex;
      align-items: center;
    }
  }

  .button-container {
    margin-top: 3em;
  }
}
