@import "../../../theme/index.scss";

.button-container {
  width: 100%;
  margin: 1em 0;

  @include bp($larger) {
    width: auto;
  }

  button {
    background: transparent;
    border: 1px solid $black;
    padding: .5em 1.25em;
    color: $black;
    width: 100%;

    &.black-button {
      background: $black;
      a {
        color: $white;
        font-family: $primary;
      }
    }

    @include bp($medium) {
      width: 15em;
    }
  }

  a {
    color: $black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $primary;
  }
}
