@import "../../../theme/index.scss";

.text-component {
  p {
    font-weight: 400;
    &.text {
      margin-bottom: 2em;
    }
    &.grey {
      color: $lightGrey;
    }
    &.uppercase {
      text-transform: uppercase;
    }
  }
}
